



<mat-toolbar >
    <a mat-button class="logo"><mat-icon>ecofriendly</mat-icon><p>pestguide360</p></a>
    <div class="s"></div>
<table>
    <tr><td><input type="text" name="search" [(ngModel)]="id"  placeholder="search a Crop" class="searchbox"/><button type="submit" routerLink={{id}} routerLinkactive="active" class="search">search</button></td>
</tr></table>
    <a mat-button  class="a" routerLink="home"   rouetrLinkActive="active"><mat-icon>home</mat-icon>Home</a>

    <a mat-button class="a" routerLink="aboutus" rouetrLinkActive="active"><mat-icon>info</mat-icon>About Us</a>
    <a mat-button class="a" routerLink="contactus" rouetrLinkActive="active"><mat-icon>call</mat-icon>Contact Us</a>
    <a mat-button class="a" routerLink="main" rouetrLinkActive="active"><mat-icon>logout</mat-icon>logout</a>



    <a mat-buttom class="a" ><mat-icon>share</mat-icon></a>
  
  </mat-toolbar>
  
  
  
  
  
  
  
  
  
   
  
  
  
  
