<section>
    <img src="assets\mobile-login-concept-illustration_114360-83.avif"/>
<form >

    <p>Login Here</p>
<div>Email/user Name<br>


 <input type="email" placeholder="Enter your Email" id="email" name="email" [(ngModel)]="User1.email" required></div>

<div>passsword<br>

    <input type="password" placeholder="Enter your password" id="password" name="password" [(ngModel)]="User1.password" required>


</div>



    <button type="submit"  id="login" (click)="Read1()">Login</button> <br>

 <button type="submit"  id="Google">sign in With Google</button>










</form>
</section>


