<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  



  
  <div class="img">  <img src="assets\download.png" class="necimage"/></div>

  <p class="dept">Department Of Computer Science & Engineering</p>

   <p class="csp">Community Service Project On</p>
  
  
  
  
    <P class="cs">*Awareness On Usage Of pesticides (Pestguide360)</P>
  
<div class="b">
  <button type="button" routerLink="signin" rouetrLinkActive="active">sign in</button>
  <button type="button" routerLink="signup" rouetrLinkActive="active">sign up</button></div>


 
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "22058f21-93a3-48aa-a49e-098a6e72bf8f", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "49d93542-6d7b-4836-b120-b669306d32f1", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

</body>
</html>
     