<p class="con">Contributors Of This Platform </p>

<table>
<tr>
<td>
  <section>
    <div>
    <img src="assets\WhatsApp Image 2023-07-10 at 19.24.15.jpg"/>
    
    </div>
    
    
    <div class="info">
      <p class="name"> Jagadheesh</p>
    
    <p>Dept:Computer Science & Engineering</p>
    <p>III Year</p>
    <p>21471A0587</p>
    <p>Follow Me on </p>
    <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
    </div>
    </section> 
</td>
<td>

<section>
    <div>
    <img src="assets\WhatsApp Image 2023-07-09 at 21.44.24.jpg"/>
    
    </div>
    
    
    <div class="info">
      <p class="name">Sistla.V.S.M Rohit</p>
    
    <p>Dept:Computer Science & Engineering</p>
    <p>III Year</p>
    <p>21471A05c7</p>
    <p>Follow Me on </p>
    <p><mat-icon>facebook</mat-icon><mat-icon>call</mat-icon><mat-icon>mail</mat-icon></p>
    </div>
    </section>    </td>   </tr>


    
    <tr>
        <td>
          <section>
            <div>
            <img src="assets\WhatsApp Image 2023-07-10 at 19.38.35.jpg"/>
            
            </div>
            
            
            <div class="info">
              <p class="name">Alimoon</p>
            
            <p>Dept:Computer Science & Engineering</p>
            <p>III Year</p>
            <p>21471A05c5</p>
            <p>Follow Me on </p>
            <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
            </div>
            </section>
        </td>
        <td>
        
        <section>
            <div>
            <img src="assets\Snapchat-491056645.jpg"/>
            
            </div>
            
            
            <div class="info">
              <p class="name">Yalagala Rambabu Babu</p>
            
            <p>Dept:Computer Science & Engineering</p>
            <p>III Year</p>
            <p>21471A05B6</p>
            <p>Follow Me on </p>
            <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
            </div>
            </section>    </td>   </tr>

            



            <tr>
                <td>
                <section>
                <div>
                <img src="assets\WhatsApp Image 2023-07-10 at 19.14.53.jpg"/>
                
                </div>
                
                
                <div class="info">
                  <p class="name">Pulibandla Sai Kumar</p>
                
                <p>Dept:Computer Science & Engineering</p>
                <p>III Year</p>
                <p>21471A05B4</p>
                <p>Follow Me on </p>
                <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
                </div>
                </section>
                </td>
                <td>
                
                <section>
                    <div>
                    <img src="assets\WhatsApp Image 2023-07-10 at 19.20.06.jpg"/>
                    
                    </div>
                    
                    
                    <div class="info">
                      <p class="name"> Ricky</p>
                    
                    <p>Dept:Computer Science & Engineering</p>
                    <p>III Year</p>
                    <p>21471A0582</p>
                    <p>Follow Me on </p>
                    <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
                    </div>
                    </section>    </td>   </tr>

                    
                    <tr>
                        <td>

                          <section>
                            <div>
                            <img src="assets\WhatsApp Image 2023-07-09 at 21.18.31.jpg"/>
                            
                            </div>
                            
                            
                            <div class="info">
                              <p class="name">Polepalli Uday Kumar</p>
                            
                            <p>Dept:Computer Science & Engineering</p>
                            <p>III Year</p>
                            <p>21471A05B3</p>
                            <p>Follow Me on </p>
                            <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
                            </div>
                            </section>

                        
                        </td>
                        <td>
                        
                        <section>
                            <div>
                            <img src="assets\WhatsApp Image 2023-07-10 at 19.19.42.jpg"/>
                            
                            </div>
                            
                            
                            <div class="info">
                              <p class="name"> Bandaru AnjiBabu</p>
                            
                            <p>Dept:Computer Science & Engineering</p>
                            <p>III Year</p>
                            <p>21471A0574</p>
                            <p>Follow Me on </p>
                            <p><mat-icon>facebook</mat-icon><mat-icon>mail</mat-icon><mat-icon>call</mat-icon></p>
                            </div>
                            </section>    </td>   </tr>
                        <tr>


                          <td>
                        
                            <section>
                              <div>
                              <img src="assets\myy.png.jpg"/>
                              
                              </div>
                              
                              
                              <div class="info">
                                <p class="name"> Parchuri Mahesh Babu</p>
                              
                              <p>Dept:Computer Science & Engineering</p>
                              <p>III Year</p>
                              <p>21471A05B0</p>
                              <p>Follow Me on </p>
                              <p><mat-icon>facebook</mat-icon><mat-icon>email</mat-icon><mat-icon>call</mat-icon></p>
                              </div>
                              </section>

                               </td>
                        </tr>
        
            
    </table>