.quote{
    margin-top: 190px;
    margin-left: 100px;
}
.q{
    font-size:85px;
    padding-bottom:30px ;
    font-weight: bold;
}
.obj{
    margin-left: 100px;
    font-size: 22px;
    color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.objective{
    padding-top: 10px;
}
.img1{

    width: 600px;
    height: 450px;
    margin-left: 800px;
    margin-top: -400px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px grey;
}
.head{
padding: 0px;
    margin-left: 180px;
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
td p{

    margin-left: 100px;
}
.h p{

    font-size:larger;
    color:black;
    font-weight:900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h1 img{

    border-radius: 6px;
    width: 280px;
    height: 250px;
    padding: 10px;
    box-shadow: 8px 8px 8px grey;

}
.accurate img{

    width: 800px;
    height: 410px;
    border-radius: 9px;
    box-shadow: 8px 8px 8px grey;
}
.ac{
    padding-top: 190px;


}
.heading{

font-size: xx-large;
font-weight: 800;
}
.hd{

    font-size: 25px;
    color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.fotter div{

border-radius: 3px;
margin-top: 20px;
    padding-bottom: 300px;
    background: green;
}

div input{
    margin-top: 61px;
    margin-left: 500px;
    margin-bottom: -100px;
    width: 400px;
    height: 30px;
    border-radius: 6px;
    font-size: 20px;
    padding-left: 207px;
    box-shadow: 2px 2px 2px  grey;

}
input:hover{

    border-color:aqua;
}
div button{
    height: 34px;
    width: 90px;
    background-color: rgb(36, 213, 36);
    border-radius:6px ;
    color:white;

}
div button:hover{

    background: yellow;
    color: red;
}

.h1:hover{
border-color:brown;
cursor: pointer;
}
