<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    







<div class="quote">
    <p class="q">protect your</p><br>
    <p class="q">crops with</p><br>
    <p class="q">confidence</p>
</div>

<div class="objective">

    <p class="obj">Our guide helps farmers to use pesticides safely and effectively, </p>
    <p class="obj">ensuring healthy crops and a sustainable future</p>
</div>

<img src="assets\photo-1537721664796-76f77222a5d0.jpg" class="img1">
<p class="head">Pestguide360 Helps In</p>


<script>
    window.watsonAssistantChatOptions = {
      integrationID: "22058f21-93a3-48aa-a49e-098a6e72bf8f", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "49d93542-6d7b-4836-b120-b669306d32f1", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>


<table>
     <tr>

       <td class="h"><p>Which pesticide will use</p></td>
       <td class="h"><p>How to use</p></td>
       <td class="h"><p>Quantity</p></td>
       <td class="h"><p>Precautions</p></td>
       <td class="h"><p>when will use</p></td>
    
    
    
    </tr>
    <tr>

        <td class="h1"><img src="assets\OIP.jpg"/></td> 
        <td  class="h1"><img src="assets\OIP (1).jpg"/></td>
        <td  class="h1"><img src="assets\download.jpg"/></td>
        <td  class="h1"><img src="assets\OIP (3).jpg"/></td>
        <td  class="h1"><img src="assets\OIP (2).jpg"/></td>

    </tr>





</table>


<table class="ac">
<div class="div"></div>

    <tr>
        <td class="accurate"><img src="assets\photo-1500937386664-56d1dfef3854.jpg" /></td>
        <td  class="accurate"><p class="heading">Accurate pesticide usage</p><br><p class="hd">PestGuide provides accurate information on how much pesticide to use per range of field, ensuring effective results and minimizing waste.</p></td>
    </tr>
</table>

<table class="ac">
    <div class="div"></div>
    
        <tr>            
            <td  class="accurate"><p class="heading">Cautions and safety measures</p><br><p class="hd">Our guide includes important cautions and safety measures to ensure farmers use pesticides safely and avoid harm to themselves and the environment.</p></td>

            <td class="accurate"><img src="assets\photo-1624806992928-9c7a04a8383d.jpg" /></td>
        </tr>
    </table>
    
    <table class="ac">
        <div class="div"></div>
        
            <tr>            
                <td class="accurate"><img src="assets\photo-1589923188900-85dae523342b.jpg" /></td>

                <td  class="accurate"><p class="heading">Sustainable farming practices</p><br><p class="hd">PestGuide promotes sustainable farming practices by providing information on alternative methods to pesticides and minimizing their use.</p></td>
    
            </tr>
        </table>

       
        <div class="fotter">
<div>footer</div>


        </div>
        
        


    </body>
    </html>
    